.webScreen{
    background-color: #9E9E9E;
    height: 100%;
    width: 100%;
}

.box_container{
    border: 0.4px solid rgba(0,0,0,.125);
    height: 30vw;
    width: 35vw;
    border-radius: 0.7rem;
    background-color: #fff;
}

.box_container_btn1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
}

.btn1{
    background-color: #2BB673;
    color: white;
    font-size: 12px;
    padding: 0.6vw 3vw 0.6vw 3vw;
    border-radius: 8px;
    font-weight: 600;
    border: 1px;
}

.box_container_btn2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 0vw;
}

.btn2{
    background-color: #f0f2f5;
    padding: 6px 15px;
    border-radius: 4px;
    margin-right: 4px;
    border: none;
    padding: 0.6vw 3vw 0.6vw 3vw;
    border-radius: 8px;
}

.btn3{
    background-color: #f0f2f5;
    padding: 6px 15px;
    border-radius: 4px;
    margin-right: 4px;
    border: none;
    border-radius: 8px;
    padding: 0.6vw 1.5vw 0.6vw 1.5vw;
    border-radius: 8px;
}

.img_logo{
    padding-top: 1vw;
    height: 50px;
    min-height: 116px;
    max-width: 116px;
    border-radius: 10px;
    vertical-align: middle;
}

.box_container p{
    color: #04132B;
    font-size: 12px;
    font-weight: 400;
    padding-top: 0vh !important;
    margin-bottom: 10px;
}

.box_container .img_logo{
    height: 50px;
    border-radius: 10px;
    vertical-align: middle;
    /* max-width: 116px;
    min-height: 116px; */
}

.newContainer{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.img2_logo{
    max-width: 34px;
    padding: 0.3vw;
}

.body{
    padding: 0vw 3vw;
    padding-bottom: 1vw;
}

.logo_body{
    padding-top: 0vw;
}

.body_container1{
    font-size: 12px;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 3vw;
    letter-spacing: 1px;
    color: #344767;
}

.newContainer p{
    color: #04132B;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.6px;
}